<!DOCTYPE html>
<html {{site.language_attributes}}>
  <head>
    <!-- {{php_version}} -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" media="not all" onload="if(media!='all')media='all'">

    <link rel="stylesheet" type="text/css" href="{{theme.link}}/static/index.css">
    
    {% include 'html-header.twig' %}
  </head>
  <body>
    {% include 'ie.twig' %}
    {% include 'main-header.twig' %}
    <main>
      {% block content %}
      <div class="articles">
      
        {% for post in posts %}
          {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
        {% endfor %}
      
      </div>
      {% endblock %}
    </main>
    {% if no_posts == false %}
      <div class="pagination">
      {% if pagination.prev %}
          <a href="{{pagination.prev.link}}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}}">Prev</a>
      {% endif %}
      <ul class="pages">
          {% for page in pagination.pages %}
              <li>
                  {% if page.link %}
                      <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
                  {% else %}
                      <span class="{{page.class}}">{{page.title}}</span>
                  {% endif %}
              </li>
          {% endfor %}
      </ul>
      {% if pagination.next %}
          <a href="{{pagination.next.link}}" class="next {{pagination.next.link|length ? '' : 'invisible'}}">Next</a>
      {% endif %}
    </div>
    {% endif %}
    <div class="googlepublisherpluginad">
      <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9675050026743432" data-ad-slot="5822925250" data-ad-format="auto"></ins>
    </div>

    {% include 'footer.twig' %}

     <script src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" async></script>
     <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
     </script>

     {{function('wp_footer')}}
  </body>
</html>