<header class="main-header">
  <div class="left">
    <nav class="categories">
      <a href="{{base_url}}/kemi" class="category kemi">Kemi</a>
      <a href="{{base_url}}/biologi" class="category biologi">Biologi</a>
      <a href="{{base_url}}/halsa-medicin" class="category halsa-medicin">Hälsa &amp; medicin</a>
      <a href="{{base_url}}/djur-natur" class="category djur-natur">Djur &amp; natur</a>
      <a href="{{base_url}}/rymden" class="category rymden">Rymden</a>
    </nav>
  </div>
  <div class="center">
    <figure class="logo">
      <svg viewBox="0 0 275 317" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(1.000000, -1.000000)" id="Sverige-Science-Background">
                <g>
                  <g id="Sverige-Science-Logo" transform="translate(0.000000, 0.902534)">
                    <g id="Logo">
                      <path id="March-path" d="M205.769309,33.5727073 C173.974366,15.1417876 115.849164,56.4591387 75.943036,125.857593 C36.0369082,195.256048 29.4614934,266.455824 61.2564363,284.886744 C93.051379,303.317664 151.176582,262.000313 191.082709,192.601858 C230.988837,123.203403 237.564252,52.003627 205.769309,33.5727073 L205.769309,33.5727073 L205.769309,33.5727073 Z" stroke="#18557A" stroke-width="3"></path>
                      <path d="M62.4607103,20.4415517 C30.1358517,41.7079975 36.8208567,123.861585 77.3920866,203.936725 C117.963316,284.011866 177.057272,331.685732 209.382131,310.419286 C241.706989,289.152841 235.021984,206.999253 194.450755,126.924113 C153.879525,46.8489727 94.785569,-0.82489404 62.4607103,20.4415517 L62.4607103,20.4415517 L62.4607103,20.4415517 Z" id="Venus-path" stroke="#236F9D" stroke-width="3"></path>
                      <path d="M0.7537136,159.229726 C0.7537136,131.239682 60.510243,104.093159 135.921421,104.093159 C211.332598,104.093159 271.089127,131.239682 271.089127,159.229726 C271.089127,187.21977 211.332598,214.366292 135.921421,214.366292 C60.510243,214.366292 0.7537136,187.21977 0.7537136,159.229726 L0.7537136,159.229726 L0.7537136,159.229726 Z" id="Earth-path" stroke="#368DC2" stroke-width="3"></path>
                      <circle id="Sun" fill="#FDBC55" cx="134.783423" cy="161.504706" r="40"></circle>
                      <circle id="Earth" fill="#5AB37F" r="18" cx="255.396985" cy="183.504706">
                        <!-- cx="255.396985" cy="183.504706" 
                        <animateMotion dur="36s" repeatCount="indefinite">
                        <mpath xlink:href="#Earth-path" />
                        </animateMotion>-->
                      </circle>
                      <circle id="March" fill="#E95A62" r="9.5" cx="41.1227809" cy="241.591311">
                        <!--  
                        <animateMotion dur="68s" repeatCount="indefinite">
                        <mpath xlink:href="#March-path" />
                        </animateMotion>-->
                      </circle>
                      <circle id="Venus" fill="#58AFC5" r="17" cx="90.844994" cy="17.1924169">
                        <!--  
                        <animateMotion dur="23s" repeatCount="indefinite">
                        <mpath xlink:href="#Venus-path" />
                        </animateMotion>-->
                      </circle>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
    </figure>
     <div class="branding">
        <a href="{{site.url}}" class="site-title">
          {{site.name}}
        </a>
     </div>
     <div class="social">
       <a href="https://www.facebook.com/pages/Sverige-Science/1573102716308904" title="Facebook"><span class="fa fa-facebook"></span></a>
       <a href="https://twitter.com/sverigescience" title="Twitter"><span class="fa fa-twitter"></span></a>
       <a href="https://plus.google.com/100720233675890372160" title="Google Plus" rel="publisher"><span class="fa fa-google-plus"></span></a>
     </div>
  </div>
  <div class="right">
    <nav class="categories">
      <a href="{{base_url}}/miljo" class="category miljo">Miljö</a>
      <a href="{{base_url}}/teknik" class="category teknik">Teknik</a>
      <a href="{{base_url}}/fysik" class="category fysik">Fysik</a>
      <a href="{{base_url}}/arkeologi" class="category arkeologi">Arkeologi</a>
      <a href="{{base_url}}/manniskan" class="category manniskan">Människan</a>
    </nav>
  </div>
</header>